body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #b5d9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(13, 45, 224, 0.1);
    display: flex;
    overflow: hidden;
    height: 50%;
    width: 90%;
    max-width: 700px;
}

.login-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-left img {
    width: 100%; /* setengah ukuran card */
    height: 100%;
   
}

.login-right {
    flex: 1;
    padding: 20px;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #9abefc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #4fb3db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #a2dff2;
}